*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}
::-webkit-scrollbar{
    width:0.15rem;

}
::-webkit-scrollbar-track {
    background: #f1f1f1; 
  }
  ::-webkit-scrollbar-thumb {
    background: #888; 
  }
  ::-webkit-scrollbar-thumb:hover {
    background: #555;
  }

  @font-face {
    font-family: 'Arboria';
    src: url('fonts/Arboria-Medium.ttf');
  }
  @font-face {
    font-family: 'Arboria-light';
    src: url('fonts/Arboria-Book.ttf');
  }

body{
    height:100vh;
}
header{
    border:5px #747171;
    padding:0 1rem;
    font-size: 0.875rem;
    font-family: 'Arboria';
    font-weight: bold;
    display:flex;
    height: 4rem;
    align-items: center;
    justify-content: space-between;
}
.ustlogo {
    display: flex;
    align-items: center;
}
.headernavigation ul{
    box-sizing: border-box;
}
.headernavigation li:hover  {
    cursor: pointer;
    color:#006e74;
    border-bottom: 0.1rem solid;
}
.activedash{
    
}


.headernavigation li {
    width: 10rem; 
    text-align: center;
    border-bottom: 0.1rem solid #fff;
}
.headernavimages {
    font-family: 'Arboria';
    font-size: 0.875rem;
    color: #d3d3d3;
    margin-right: 5px;
}
nav{
    display: flex;
    justify-content: space-between;
    height:100%;
    box-shadow: 1px 1px 0 0 #e9edf2;
    background-color: var(--white);
}
nav a {
    text-decoration: none;
    color:#006e74;
    background-color: white;
    align-items: center;
    font-family: 'Arboria';
    font-size: 0.875rem;
    font-weight: 500;
}
nav ul {
    height:100%;
    list-style: none;
    display: flex;
    align-items: center;
    padding: 0 0;
    background-color: white;   
}
nav li {
    display:flex;
    justify-content: center;
    height:100%;
    border-left: 0.02rem solid #EFF2F6;
    background-color: white;
    align-items: center;
}
.accounts {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.warning {
    border-left: none;
}
.notification {
    border-left: none;
}
.profile-name{
    text-align:center;
    margin-right:15px;
    font-family: 'Arboria';
    font-weight: 500;
}
.profile{
        float: right;
        border-radius: 15px;
}
.overviewcontainer{
    width: 100%;
    display: grid;
    grid-template-columns: repeat(4,1fr)    ;
    grid-gap: 0.704rem;
    padding-bottom: 1rem;
}
.mainbodycontainer{
    height:calc(100vh - 4rem);
    background-color: #f2f4f8;
    padding:1rem;
    font-size: 0.875rem;
    font-family: 'Arboria';
    font-weight: 500;
}
.overview-card{
    padding: 0.75rem;
    display: flex;
    background-color: white;
    height: 5.5rem;
    flex-basis: 25%;
    align-items: center;
    font-family: 'Arboria';
    justify-content: space-between;
}
.text{
    font-family: 'Arboria';
    align-items: center; 
    width: 85%;
}
.image {
    padding: 0.5rem;
    width: 15%;
    border: 1px;
    align-items: center;
    justify-content: flex-end;
}
.imagecard4 {
    padding: 9px 2px 4px 9px;
    width: 15%;
    border: 1px;
    align-items: center;
    justify-content: flex-end;
}
.lastdays{
    font-size:small;
    color:#7c8089;
    margin-left:3px;
}
.texttop{
    font-family: 'Arboria';
    font-weight: 500;
    display: flex;
    color:#666666;
}
.texttop img {
    padding-left: 5px;
    padding-bottom: 3px;
}
.textbottom {
    display: flex;
    padding-top: 5px;
    font-size: 30px;
    font-weight: bold;
}
.last7days{
    align-items: flex-end;
}

.inside {
    display: flex;
    color: #666;
    font-size: 0.875rem;
    font-weight: 500;
}
.smalltext {
    padding-top: 0.4rem;
    align-items: center;
    display: flex;
    color:#7c8089;
    font-weight: normal;
    justify-content: space-between;
}

.smalltext p {
    
    color: #7c8089;
    font-size: 0.75rem;
}
.color1 {
    margin-top: 0.4rem;
    margin-right: 2px;
    display: inline-block;
    height: 10px;
    width: 10px;
    background-color: rgb(73, 197, 73);
    border-radius: 50%;
}
.color2 {
    margin-top: 0.4rem;
    margin-right: 4px;
    display: inline-block;
    height: 10px;
    width: 10px;
    background-color: rgb(72, 244, 72);
    border-radius: 50%;
}
.color3 {
    margin-top: 0.4rem;
    margin-right: 4px;
    display: inline-block;
    height: 10px;
    width: 10px;
    background-color: yellow;
    border-radius: 50%;
}
.color4 {
    margin-top: 0.4rem;
    display: inline-block;
    margin-right: 4px;
    height: 10px;
    width: 10px;
    background-color: red;
    border-radius: 50%;
}
.riskcontainer {
    width: 38%;
}
.watchlistcontainer {
    width: 60%;
    margin-right: 2%;
}
.shipmentheader {
    margin-bottom: 1rem;
    border:1rem white;
    justify-content: space-between;
    background-color: white;
    height:9.2rem;
}
.bodynavigation{
    display:flex;
    padding-right:1.25rem;
    justify-content: space-between;
    align-items: center;
    border-bottom:1px solid #e9edf2;
}
.bodynavigation a {
    text-decoration: none;
    color: black;
    font-weight: 500;
}
.bodynavigation a:hover {
    cursor: pointer;
    color: #006e74;
}
.viewshipment-desktop{
    display: flex;
    color: #006e74;
    font-size:0.75rem;
    font-weight: 500;
    font-family: 'Arboria';
    align-items: center;
}
.viewshipment-deskt3op:hover{
    cursor: pointer;
   text-decoration: underline;
}
.viewshipment:hover{
    cursor: pointer;
    text-decoration:underline;
}
.bodytabs{
    display:flex;
}

.headtabs1,.headtabs{
    padding: 0.81rem;
    font-size: 1rem;
    font-weight: 500;
    font-family: 'Arboria';
    color: #2f3749;   
    border-bottom: 2px solid #fff;
}
.bodytabs div.headtabs1
{
    border-bottom:2px solid #006e74;
}
.headtabs:hover{
    cursor: pointer;
    border-color: #006e74;
}
.arrowimages {
    font-size: 10px;
    display: flex;
    justify-content: space-between;
}
.tabscontainer {
    display: flex;
    background-color: white;
    padding:0.625rem;
}
.tab{
    padding:0.5rem;
    background-color: #f8f9fb;
    align-items: center;
    margin-right: 0.625rem;
    color:#7c8089;
    cursor: pointer;
    font-size: 0.875rem;
}
.tab:hover{
    cursor: pointer;
    color:#fff;
    background-color: #006e74;
}
.headernavigation li.activedash{
    border-bottom: 2px solid #006e74 ;
}
.active{
    color:#fff;
    background-color: #006e74;
}
 .activedash{
    border-bottom: #006e74;
}
.tab b{
    padding-left: 5px;
    padding-bottom: 5px;
}
.bodybottom{
    height:calc(100% - 6.5rem);
    display:flex;
    justify-content: space-between;
}
.searching {
    display: flex;
    padding-top:0.625rem;
}

.searchingbutton {
    border: none;
    background: #f8f9fb;
    padding: 0 0.625rem;
}

.searchingmob{
    display: none;
}
.searchingbox {
    outline: none;
    border: #f8f9fb;
    width: 100%;
    height: 2rem;
    background-color: #f8f9fb;
}
.hambugericon{
    display: none;
}
.riskheader {
    display: flex;
    justify-content: space-between;
    padding:0.625rem 1.25rem;
    background-color: white
}
.riskcontent {
    font-family: 'Arboria-light';
    align-items: center;
    background-color: #f8f9fb;
    padding:2rem;
    height: calc(100% - 3rem);
}
.vendoring{
    display: none;
}
.riskcontent p{
    font-weight: 100;
}
.ustheading{
    padding:0.625rem;
    text-align: center;
    font-weight: 500;
}
.shipmentcardcontainer{
        overflow-y: auto;
        width: 100%;
        margin-top: 1.3rem;
        background-color: #f2f4f8;
        height: calc(100% - 10.5rem);
}
.bottomcards{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    grid-gap: 1.25rem;
    width: 100%;
}
.card{
    background-color: white;
    color: black;
    padding:1.625rem;
}
.shipmentcard{
    color: black;
    display: flex;
    justify-content: space-between;
}
.shipmentcard span{
    font-size: 1.25rem;
}
.imagecard{
    display: inline-flex;
    gap:0.625rem;
}
.imageclass{
    height:1rem;
}
.ontime{
    height: 1.5rem;
    background-color: #e7f4ff;
    color: #017cee;
    font-size: 0.7rem;
    font-weight: bold;
    font-family: 'Arboria';
    padding: 0.25rem;
    padding-top: 0.3rem; 
}
.contentcard{
    display: flex;
    background-color: #f2f4f8;
    align-items: center;
    justify-content: space-between;
    padding: 1rem;
}
.arrow{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 14px;
}
.destination{
    color:#7c8089;
    font-size: small;
}
b{
    font-family: 'Arboria-light';
    margin-top:3px;
    color: black;
}
.lefttext{
    display: flex;
    font-family: 'Arboria-light';
    font-weight: 500;
    justify-content: space-between;
    color: grey;
    padding: 1.25rem 0.25rem;
}
.footer{
    display: flex;
    justify-content: space-between;
}

.viewshipment {
    display: none;
}

.tabs-container{
    max-width:700px;
    overflow:auto;
    display:flex;
    white-space: nowrap;
  }

  .tabs-search-conatiner{
    padding: 0.625rem;
  }








/* mobilephones */
@media only screen and (max-width: 700px) {
    ::-webkit-scrollbar{
        width:0.15rem;
        height:0.15rem;
    }
    ::-webkit-scrollbar-track {
        background: #f1f1f1; 
      }
      ::-webkit-scrollbar-thumb {
        background: #888; 
      }
      ::-webkit-scrollbar-thumb:hover {
        background: #555;
      }
      .hambugericon{
        display: block;
        width: 24px;
        height: 24px;
        padding-left: 5px;
    }
    .hambugericon img {
        height: 100%;
        width: 100%;
    }
    .profile-name {
        display: none;
    }
    .mainbodycontainer{
        padding:1rem;
        height:auto;
    }
      header nav{
        display: none;
      }
      .overviewcontainer{
        overflow-x: scroll;
      }
      .overview-card{
        padding: 0 1rem;
        width: 21rem;
      }
      .viewshipment button {
        border: none;
        background-color: transparent;
        padding: 12px 17px 12px 24px;
        border-radius: 4px;
        color: #006e74;
        background-image: url("./images/arrow.png");
        background-repeat: no-repeat;
        background-position: right 0px center;
       }
      .shipmentcardcontainer{
        height: 23rem;
      }
      .bodybottom{
        display: flex;
        flex-direction: column;
        height: 100%;
      }
      .watchlistcontainer{
        margin-right: 0;
        width:100%;
      }
      .bodytabs{
        padding: 0;
      }
      .headtabs1 , .headtabs{
        padding: 0.625rem ;
        font-size: 0.8rem;
      }
      .viewshipment-desktop {
        display: none;
    }
    .viewshipment {
        display: block;
        color:#006e74;
        white-space: nowrap;
    }
    .tabscontainer{
        overflow-x: scroll;
    }
    .searching{
        display:none;
    }
    .searchingmob {
        display: flex;
        padding-top:0.625rem;
    }
    .tab{
        display: flex;
    }
    .searchingmob{
        padding-top: 5px;
    }
    .bottomcards{
        display: flex;
        flex-direction: column;
        overflow-x: scroll;
    }
    .riskcontainer{
        margin-top: 1.5rem;
        width: 100%;
    }
    .vendoring{
        display: flex;
        justify-content: space-around;
        column-gap:55px;
    }
    .vendor{
        display: none;
    }
    .planned{
        display:none;
    }
}      
/* tablet */
@media (min-width: 700px) and (max-width:1200px) {
    *{
        padding:0;
        margin:0;
    }
    header{
        padding-top: 0.5rem;
    }
    body{
    width: 100%;
    }
    nav {
        display: none;
    }
 .hambugericon{
    display: block;
    width: 24px;
    height: 24px;
    padding-left: 5px;
}
.hambugericon img {
    height: 100%;
    width: 100%;
}
.mainbodycontainer{
    padding: 1rem;
    height: 100%;
    overflow-y: scroll;
}
.viewshipment-desktop {
    display: none;
}
.viewshipment {
    display: block;
    color:#006e74;
    white-space: nowrap;
}
.viewshipment button {
    border: none;
    background-color: transparent;
    padding: 12px 17px 12px 24px;
    border-radius: 4px;
    color: #006e74;
    background-image: url("./images/arrow.png");
    background-repeat: no-repeat;
    background-position: right 0px center;
}
.overviewcontainer {
    display: grid;
    grid-template-columns: repeat(2,1fr);
    grid-gap: 0.704rem;
    padding-bottom: 1rem;
}
.bodybottom{
    height:100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}
.shipmentcardcontainer{
    height: 23rem;
  }
.watchlistcontainer{
    width:100%;
    margin-right: 0;
}
.riskcontainer{
    padding-top:1rem;
    width:100%;
    height:auto;
}

}
@media screen and (max-width:300px){
    .overview-card{
        width:15rem;
    }
    .headtabs1, .headtabs {
        padding: 0.2rem;
    }
    .viewshipment button{
    padding: 12px 25px 12px 7px;
    align-items: center;
    background-position: right 11px center;
    }
    .card{
        padding:0.5rem;
    }
    .ontime{
        padding:0;
        padding-top:0.3rem;
    }
    .contentcard{
        padding:0.5rem;
    }
}
@media (min-width:1700px) and (max-width:1920px) {
    *{
        font-size:16px;
    }
  .mainbodycontainer{
    padding-left: 15rem;
    padding-right: 12rem;
  }  
  .tabs-container {
   max-width:950px;
  }
} 
@media (min-width:1921px){
    *{
        font-size:21px;
    }
     .riskcontainer{
        height:59.5rem;
    } 
    .tabs-container {
        max-width:990px;
      }
      .tab{
        padding:0.3rem;
      }
    .mainbodycontainer{
        padding-left: 15rem;
        padding-right: 12rem;
      }  
      .shipmentheader{
        height: 10.5rem;
      }
}