*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}
::-webkit-scrollbar{
    width:0.15rem;

}
::-webkit-scrollbar-track {
    background: #f1f1f1; 
  }
  ::-webkit-scrollbar-thumb {
    background: #888; 
  }
  ::-webkit-scrollbar-thumb:hover {
    background: #555;
  }

  @font-face {
    font-family: 'Arboria';
    src: url('fonts/Arboria-Medium.ttf');
  }
  @font-face {
    font-family: 'Arboria-light';
    src: url('fonts/Arboria-Book.ttf');
  }

body{
    height:100vh;
}
header{
    border:5px #747171;
    padding:0 1rem;
    font-size: 0.875rem;
    font-family: 'Arboria';
    font-weight: bold;
    display:flex;
    height: 4rem;
    align-items: center;
    justify-content: space-between;
}
.ustlogo {
    display: flex;
    align-items: center;
}
.headernavigation ul{
    box-sizing: border-box;
}
.headernavigation li:hover {
    color:#006e74;
    border-bottom: 0.1rem solid;
}
.headernavigation li {
    width: 10rem; 
    text-align: center;
}
.headernavimages {
    font-family: 'Arboria';
    font-size: 0.875rem;
    color: #d3d3d3;
    margin-right: 5px;
}
nav{
    display: flex;
    justify-content: space-between;
    height:100%;
    box-shadow: 1px 1px 0 0 #e9edf2;
    background-color: var(--white);
}
nav a {
    text-decoration: none;
    color:#006e74;
    background-color: white;
    align-items: center;
    font-family: 'Arboria';
    font-size: 0.875rem;
    font-weight: 500;
}
nav ul {
    height:100%;
    list-style: none;
    display: flex;
    align-items: center;
    padding: 0 0;
    background-color: white;   
}
nav li {
    display:flex;
    justify-content: center;
    height:100%;
    border-left: 0.02rem solid #EFF2F6;
    background-color: white;
    align-items: center;
}
.accounts {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.warning {
    border-left: none;
}
.warning:hover {
    color:#006e74;
}
.notification {
    border-left: none;
}
.notification:hover {
    color:#006e74;
}
.profile-name{
    text-align:center;
    margin-right:15px;
    font-family: 'Arboria';
    font-weight: 500;
}
.profile{
        float: right;
        border-radius: 15px;
}
.bodyhead{
    width: 100%;
    display: grid;
    grid-template-columns: repeat(4,1fr)    ;
    grid-gap: 0.704rem;
    padding-bottom: 1rem;
}
.mainbodycontainer{
    height:calc(100vh - 4rem);
    background-color: #f2f4f8;
    padding:1rem;
    font-size: 0.875rem;
    font-family: 'Arboria';
    font-weight: 500;
}
.overview-card{
    padding: 10px;
    display: flex;
    background-color: white;
    height: 4.5rem;
    flex-basis: 25%;
    align-items: center;
    font-family: 'Arboria';
    justify-content: space-between;
}
.overviewcard4{
    padding: 10px;
    display: flex;
    background-color: white;
    height: 4.5rem;
    flex-basis: 25%;
    align-items: center;
    font-family: 'Arboria';
    justify-content: space-between;
}
.text{
    font-family: 'Arboria';
    align-items: center; 
    width: 85%;
}
.image {
    padding: 5px;
    width: 15%;
    border: 1px;
    margin-left: 7px;
    align-items: center;
    justify-content: flex-end;
}
.imagecard4 {
    padding: 9px 2px 4px 9px;
    width: 15%;
    border: 1px;
    margin-left: 7px;
    align-items: center;
    justify-content: flex-end;
}
.lastdays{
    font-size:small;
    color:#7c8089;
    margin-left:3px;
}
.texttop{
    margin-top: 10px;
    font-family: 'Arboria';
    font-weight: 500;
    display: flex;
    color:#666666;
}
.texttop img {
    padding-left: 5px;
    padding-bottom: 3px;
}
.textbottom {
    display: flex;
    margin-bottom: 10px;
    padding: 5px;
    font-size: 30px;
    font-weight: bolder;
}
.textbottom2 {
    display: flex;
    align-items: flex-end;
    margin-bottom: 10px;
    padding: 5px;
    font-size: 30px;
    font-weight: bolder;
}
.inside {
    display: flex;
    color: #666;
    font-size: 0.875rem;
    font-weight: 500;
}
.smalltext {
    padding-top: 0.4rem;
    align-items: center;
    display: flex;
    color:#7c8089;
    font-weight: normal;
    justify-content: space-between;
}

.smalltext p {
    
    color: #7c8089;
    font-size: 0.75rem;
}
.color1 {
    margin-top: 0.4rem;
    margin-right: 2px;
    display: inline-block;
    height: 10px;
    width: 10px;
    background-color: rgb(73, 197, 73);
    border-radius: 50%;
}
.color2 {
    margin-top: 0.4rem;
    margin-right: 4px;
    display: inline-block;
    height: 10px;
    width: 10px;
    background-color: rgb(72, 244, 72);
    border-radius: 50%;
}
.color3 {
    margin-top: 0.4rem;
    margin-right: 4px;
    display: inline-block;
    height: 10px;
    width: 10px;
    background-color: yellow;
    border-radius: 50%;
}
.color4 {
    margin-top: 0.4rem;
    display: inline-block;
    margin-right: 4px;
    height: 10px;
    width: 10px;
    background-color: red;
    border-radius: 50%;
}
.bodyrightside {
    width: 38%;
}
.bodyleftside {
    width: 60%;
    margin-right: 2%;
}
.leftsidetop {
    margin-bottom: 1rem;
    border:1rem white;
    justify-content: space-between;
    background-color: white;
}
.bodynavigation{
    display:flex;
    padding-right:1.25rem;
    justify-content: space-between;
    align-items: center;
    border-bottom:1px solid #e9edf2;
}
.bodynavigation a {
    text-decoration: none;
    color: black;
    font-weight: 500;
}
.bodynavigation a:hover {
    color: #006e74;
}
.viewshipment-desktop{
    display: flex;
    color: #006e74;
    font-size:0.75rem;
    font-weight: 500;
    font-family: 'Arboria';
    align-items: center;
}
.viewshipment-desktop:hover{
   text-decoration: underline;
}
.viewshipment:hover{
    text-decoration:underline;
}
.bodytabs{
    display:flex;
}
.headtabs{
    padding: 0.81rem;
    font-size: 1rem;
    font-weight: 500;
    font-family: 'Arboria';
    color: #2f3749;   
}
.headtabs:hover{
    border-bottom: 2px solid #006e74;
}
.arrowimages {
    font-size: 10px;
    display: flex;
    justify-content: space-between;
}
.tabscontainer {
    display: flex;
    background-color: white;
    padding:0.625rem;
}
.tab{
    padding:0.5rem;
    background-color: #f8f9fb;
    align-items: center;
    margin-right: 0.625rem;
    color:#7c8089;
    cursor: pointer;
    font-size: 0.875rem;
}
.tab:hover{
    color:#fff;
    background-color: #006e74;
}
.active{
    color:#fff;
    background-color: #006e74;
}
.active b{
    color: #fff;
}
.bodybottom{
    height:calc(100vh - 11rem);
    display:flex;
    justify-content: space-between;
}
.searching {
    display: flex;
    padding:0 0.625rem 0.625rem 0.625rem;
}

.searchingbutton {
    border: none;
    background: #f8f9fb;
    padding: 0 0.625rem;
}

.searchingbox {
    border: #f8f9fb;
    width: 100%;
    height: 2rem;
    background-color: #f8f9fb;
}
.hambugericon{
    display: none;
}
.riskheader {
    display: flex;
    justify-content: space-between;
    padding:0.625rem 1.25rem;
    background-color: white
}
.riskcontent {
    font-family: 'Arboria-light';
    align-items: center;
    background-color: #f8f9fb;
    padding:0.625rem;
    height: calc(100% - 4rem);
}
.riskcontent p{
    font-weight: 100;
}
.ustheading{
    padding:0.625rem;
    text-align: center;
    font-weight: 500;
}
.leftsidebottom{
        overflow-y: auto;
        width: 100%;
        margin-top: 1rem;
        background-color: #f2f4f8;
        padding-bottom:1rem;
        height: calc(100% - 11rem);
}
.bottomcards{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    grid-gap: 1.25rem;
    width: 100%;
}
.card{
    background-color: white;
    color: black;
    padding:1.625rem;
}
.shipmentcard{
    color: black;
    display: flex;
    justify-content: space-between;
}
.shipmentcard span{
    font-size: 1.25rem;
}
.imagecard{
    display: inline-flex;
    gap:0.625rem;
}
.imageclass{
    height:1rem;
}
.ontime{
    height: 1.5rem;
    background-color: #e7f4ff;
    color: #017cee;
    font-size: 0.7rem;
    font-weight: bold;
    font-family: 'Arboria';
    padding: 0.25rem;
    padding-top: 0.3rem; 
}
.contentcard{
    display: flex;
    background-color: #f2f4f8;
    align-items: center;
    justify-content: space-between;
    padding: 1rem;
}
.arrow{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 14px;
}
.destination{
    color:#7c8089;
    font-size: small;
}
b{
    font-family: 'Arboria-light';
    margin-top:3px;
    color: black;
}
.lefttext{
    display: flex;
    font-family: 'Arboria-light';
    font-weight: 500;
    justify-content: space-between;
    color: grey;
    padding: 1.25rem 0.25rem;
}
.footer{
    display: flex;
    justify-content: space-between;
}

.viewshipment {
    display: none;
}







/* mobilephones */
@media (min-width:50px) and (max-width: 700px) {
    *{
        padding:0%;
        margin:0%;
    }
    ::-webkit-scrollbar{
        width:0.15rem;
        height:0.15rem;
    }
    ::-webkit-scrollbar-track {
        background: #f1f1f1; 
      }
      ::-webkit-scrollbar-thumb {
        background: #888; 
      }
      ::-webkit-scrollbar-thumb:hover {
        background: #555;
      }
      .hambugericon{
        display: block;
        width: 24px;
        height: 24px;
        padding-left: 5px;
    }
    .hambugericon img {
        height: 100%;
        width: 100%;
    }
    .profile-name {
        display: none;
    }
    .mainbodycontainer{
        padding:1rem;
        height:auto;
    }
      header nav{
        display: none;
      }
      .bodyhead{
        overflow-x: scroll;
      }
      .overview-card{
        padding: 0 1rem;
        flex-basis: none;
      }
      .overviewcard4{
        flex-basis: none;
      }
      .bodybottom{
        display: grid;
        grid-template-columns: auto;
      }
      .bodyleftside{
        margin-right: 0;
      }
      .bodytabs{
        padding: 0;
      }
      .headtabs{
        padding: 0.2rem ;
      }
      .viewshipment-desktop {
        display: none;
    }
    .viewshipment {
        display: block;
        color:#006e74;
        white-space: nowrap;
    }
    .tabscontainer{
        overflow-x: scroll;
    }
    .tab{
        display: flex;
        /* column-gap: 0.75rem; */
    }
    .searching{
        padding-top: 5px;
    }
    .bottomcards{
        display: flex;
        flex-direction: column;
        overflow-x: scroll;
    }
}      


/* tablet */
@media (min-width: 700px) and (max-width:1200px) {
    *{
        padding:0;
        margin:0;
    }
    nav {
        display: none;
    }
    body{
        width:100%;
    }
 .hambugericon{
    display: block;
    width: 24px;
    height: 24px;
    padding-left: 5px;
}
.mainbodycontainer{
    padding:1rem;
    height:auto;
}
.hambugericon img {
    height: 100%;
    width: 100%;
}
.viewshipment-desktop {
    display: none;
}
.viewshipment {
    display: block;
    color:#006e74;
    white-space: nowrap;
}
.bodyhead {
    display: grid;
    grid-template-columns: repeat(2,1fr);
    grid-gap: 0.704rem;
    padding-bottom: 1rem;
}
.bodybottom{
    display: grid;
}
.bodyleftside{
    width:100%;
    margin-right: 0;
}
.bodyrightside{
    padding-top:1rem;
    width:100%;
    
}
}
@media (min-width:1700px) and (max-width:7500px) {
  .mainbodycontainer{
    padding-left: 20rem;
    padding-right: 20rem;
  }  
} 
